<tr>
  <td>
    <label class="container">{{@task.name}}
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <small class="task-description ml-3 d-block">
      {{@task.description}}
    </small>
  </td>
  <td class="action" id="l-col">
    {{#if @task.isPined}}
    <img {{on "click" (fn this.updatePin @task.id)}} src="/assets/pin.svg" alt="pin">
    {{else}}
    <img {{on "click" (fn this.updatePin @task.id)}} src="/assets/unpin.svg" alt="pin">
    {{/if}}

    {{#if @task.isComplete}}
    <span {{on "click" (fn this.toggleCompletion @task.id)}} class="badge ml-3" id="completed">Completed</span>
    {{else}}
    <span {{on "click" (fn this.toggleCompletion @task.id)}} class="badge badge-pill badge-light ml-3"
      id="done">Done</span>
    {{/if}}
  </td>
</tr>

{{!-- <li class="list-group-item {{if @task.isComplete "is-complete"}}">
  <div class="d-flex">
    <h5 class="card-title flex-fill">
      {{@task.name}}
    </h5>
    <div class="toggle-done ml-auto">
      <div class="btn-group btn-group-sm" role="group">
        <BsButton @type="secondary">Pin</BsButton>
        {{#if @task.isComplete}}
        <BsButton @type="primary" onClick={{action (mut @task.isComplete) false}}>Undo</BsButton>
        {{else}}
        <BsButton @type="primary" onClick={{action (mut @task.isComplete) true}}>Done</BsButton>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="task-description">
    {{@task.description}}
  </div>
</li> --}}