<tr>
  <td>
    <input class="check-box mr-2" type="checkbox" aria-label="Checkbox for following text input">
    {{@task.name}}
    <small class="task-description ml-3 d-block">
      {{@task.description}}
    </small>
  </td>
  <td class="action" id="l-col">
    <img src="/assets/unpin.svg" alt="pin">
    <span class="badge badge-pill badge-light ml-3" id="done">Done</span>
  </td>
</tr>

{{!-- <li class="list-group-item {{if @task.isComplete "is-complete"}}">
  <div class="d-flex">
    <h5 class="card-title flex-fill">
      {{@task.name}}
    </h5>
    <div class="toggle-done ml-auto">
      <div class="btn-group btn-group-sm" role="group">
        <BsButton @type="secondary">Pin</BsButton>
        {{#if @task.isComplete}}
        <BsButton @type="primary" onClick={{action (mut @task.isComplete) false}}>Undo</BsButton>
        {{else}}
        <BsButton @type="primary" onClick={{action (mut @task.isComplete) true}}>Done</BsButton>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="task-description">
    {{@task.description}}
  </div>
</li> --}}